@font-face {
    font-family: 'LifeCraft';
    src: url('../../img/WC3_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --width: 1280px;
    --height: 180px;
    --middle: 248px;
    --side: calc((var(--width) - var(--middle)) / 2);
    --logo: 105px;
    --font: LifeCraft;
    --bcolor: #626262;
}

body {
    font-family: var(--font);
}

.box {
    position: relative;
    width: var(--width);
    height: var(--height);
    display: inline-block;
    background: url(../../img/textures/WC3_Scoreboard.png);
    background-position: center 0%;
    background-repeat: no-repeat;
    top: -8px;
}

.box_middle {
    position: absolute;
    top: 43px;
    left: var(--side);
    width: var(--middle);
    height: 100%;
    box-sizing: border-box;
}

.score {
    font-size: 36px;
    line-height: 75px;
}

.score_middle {
    position: absolute;
    top: 2px;
    width: 100%;
    filter: drop-shadow(0px 0px 2px black);
    color: #FDDC00;
    font-size: 32px;
}

.score_left {
    position: absolute;
    top: -45px;
    left: 1.3%;
    width: 50px;
    height: 100%;
    text-align: center;
    filter: drop-shadow(0px 0px 2px black);
}

.score_right {
    position: absolute;
    top: -45px;
    right: -1%;
    width: 50px;
    height: 100%;
    text-align: center;
    filter: drop-shadow(0px 0px 2px black);
}

div.box_right {
    position: absolute;
    height: 100%;
    width: calc(var(--side)*1.1111);
    right: 0px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    overflow: visible;
}

div.box_left {
    position: absolute;
    height: 100%;
    width: calc(var(--side) *1.1111);
    left: 0px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    overflow: visible;
}

div.upper-text-right {
    position: absolute;
    font-size: 40px;
    line-height: 55px;
    height: 22%;
    width: calc(var(--side) - var(--logo));
    top: 10px;
    left: 70px;
    text-align: center;
    filter: drop-shadow(0px 0px 1px var(--bcolor));
}

div.upper-text-left {
    position: absolute;
    font-size: 40px;
    line-height: 55px;
    height: 22%;
    width: calc(var(--side) - var(--logo));
    top: 10px;
    left: 85px;
    text-align: center;
    filter: drop-shadow(0px 0px 1px var(--bcolor));
}

#team2, #team1 {
    vertical-align: top;
}

div.mapscore-right {
    position: absolute;
    width: calc(var(--side) - var(--logo) - 80px);
    left: 100px;
    top: -72px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.mapscore-left {
    position: absolute;
    width: calc(var(--side) - var(--logo) - 80px);
    top: -72px;
    right: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.circle {
    width: 28px;
    height: 20px;
    box-sizing: border-box;
    margin: 2px;
    opacity: 0.85 !important;
    background: #f00;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #333;
    box-shadow: 0px 0px 2px #2d6199;
}

div.lower-text {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0%;
}

div.logo {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: inset 5px transparent;
    box-sizing: border-box;
    filter: drop-shadow(0 2px 4px rgba(255, 255, 255, .4)) drop-shadow(0 8px 16px rgba(255, 255, 255, .1));
    width: 107px;
    height: 92px;
}

#logo1 {
    left: 42px;
}

#logo2 {
    right: 40px;
}

div.box_veryleft {
    position: absolute;
    height: 100%;
    left: 45px;
    top: 5px;
    box-sizing: border-box;
}

div.box_veryright {
    position: absolute;
    height: 100%;
    right: 40px;
    top: 5px;
    box-sizing: border-box;
}

.text-item {
    color: white;
    -webkit-font-smoothing: antialiased;
}

.winner {
    --winner-color: #4795e8;
    --size: 8px;
    text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color) !important;
    -webkit-font-smoothing: antialiased;
}

.loser {
    filter: brightness(60%);
}